.flex-basis-30 {
    flex-basis: 30%;
}
.flex-basis-40 {
    flex-basis: 40%;
}
.flex-basis-70 {
    flex-basis: 70%;
}
.right-col{
    flex-basis: 30%;
    max-width: min(max-width,3000vw);
}
.overflow-x-auto {
    overflow-x: auto;
}
.overflow-x-scroll {
    overflow-x: scroll;
}
.fs-xs {
    font-size: x-small;
}

.columnCard{
    width: max-content;
}
.columnCard input[type="checkbox"]{
    display: none;
}
.columnCard input[type="checkbox"] + label{
    padding: 5px;
    border: thin black solid;
    border-radius: 5px;
    font-weight: bold;
}
.columnCard input[type="checkbox"]:checked + label{
    background-color: darkgray;
}

#cardGroup {
    row-gap:5px
}

#columnCardGroup {
    column-gap: 3px;
}

